$red: #730505;
$white: #E9E9E9;
$black: #130303;
$yellow: #F7E018;
$violet: #771386;

$colors: (
    red: $red,
    white: $white,
    black: $black,
    yellow: $yellow,
    violet: $violet,
);

@each $name, $value in $colors {
    .color--#{$name} {
        color: $value;
    }
}

@each $name, $value in $colors {
    .bg--#{$name} {
        background-color: $value;
    }
}




$min-sm: 576px;
$min-md: 790px;
$min-lg: 1070px;
$min-xl: 1200px;
$min-xxl: 1400px;
$min-xxxl: 1600px;

$max-sm: 575px;
$max-md: 789px;
$max-lg: 1069px;
$max-xl: 1199px;
$max-xxl: 1399px;
$max-xxxl: 1599px;