
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 175px;
    opacity: 0;
    z-index: 2;
    @media screen and (max-width: $max-md){
        padding: 0 60px;
    }
    @media screen and (min-width: $min-md) and (max-width: $max-lg){
        padding: 0 100px;
    }
    &--show{
        animation: headerFooterShow .5s 2.5s forwards;
    }
    &__row{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        &__el{
            display: flex;
            flex-direction: column;
            &--1{
                flex-direction: row;
                align-items: center;
                gap: 10px;
                p{
                    @media screen and (max-width: $max-sm){
                        display: none;
                    }
                }
            }
            &--2{
                flex-direction: row;
                align-items: center;
                gap: 15px;
                p{
                    max-width: 200px;
                    text-align: right;
                    @media screen and (max-width: $max-xl){
                        display: none;
                    }
                }
                a{
                    display: flex;
                    svg{
                        transition: .2s ease-in-out;
                        opacity: 0.7;
                        width: 32px;
                        height: auto;
                    }
                    &:hover{
                        svg{
                            opacity: 1;
                            filter: drop-shadow(0px 0px 10px $red);
                        }
                    }
                }
            }
            &__content{
                display: flex;
                flex-direction: column;
                padding-right: 5px;
                @media screen and (max-width: $max-md){
                    max-width: 150px;
                }
            }
            &__btns{
                display: flex;
                align-items: center;
                gap: 15px;
                .btnBack__modules, 
                .btnBack__projects{
                    opacity: 0;
                    pointer-events: none;
                    transform: translate(20px, 0);
                    transition-duration: .2s;
                    position: absolute;
                    @media screen and (max-width: 414px){
                        font-size: 12px;
                    }
                    &--active{
                        position: relative;
                        opacity: 1;
                        pointer-events: initial;
                        display: flex;
                        transform: translate(0,0);
                    }
                }
            }   
            p{
                color: $red;
                font-family: Oxanium;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                @media screen and (max-width: $max-sm){
                    font-size: 9px;
                }
                @media screen and (min-width: $min-sm) and (max-width: $max-md){
                    font-size: 11px;
                }
                @media screen and (min-width: $min-md) and (max-width: $max-lg){
                    font-size: 12px;
                }
                span{
                    opacity: 0.7;
                }
                a.link{
                    justify-content: flex-end;
                    opacity: .7;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@keyframes headerFooterShow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}