.loadingBar{
    pointer-events: none;
    width: calc(100% - 320px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: $max-md){
        width: calc(100% - 100px);
    }
    @media screen and (min-width: $min-md) and (max-width: $max-lg){
        width: calc(100% - 150px);
    }
    &__percent{
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-shadow: 0px 0px 20px rgba(141, 8, 8, 0.77);
        font-family: Oxanium;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        z-index: 2;
        @media screen and (max-width: $max-sm){
            font-size: 18px;
        }
    }
    &__load{
        width: 0;
        height: 2px;
        background: $red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &__line{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        &__el{
            width: 100%;
            height: 16px;
            background: rgba(115, 5, 5, 0.5);
            @media screen and (max-width: $max-lg){
                height: 8px;
            }
        }
        &--1{
            top: calc(50% - 8px);
            transform:  translateX(-50%) translateY(-50%);
            @media screen and (max-width: $max-lg){
                top: calc(50% - 4px);
            }
            .loadingBar__line__el{
                clip-path:  polygon(50% 0%, 99% 0, 100% 100%, 0 100%, 1% 0);
                @media screen and (max-width: $max-lg){
                    clip-path:  polygon(50% 0%, 98% 0, 100% 100%, 0 100%, 2% 0);
                }

            }
        }
        &--2{
            bottom: calc(50% - 8px);
            transform:  translateX(-50%) translateY(50%);
            @media screen and (max-width: $max-lg){
                bottom: calc(50% - 4px);
            }
            .loadingBar__line__el{
                clip-path:  polygon(50% 0%, 100% 0, 99% 100%, 1% 100%, 0 0);
                @media screen and (max-width: $max-lg){
                    clip-path:  polygon(50% 0%, 100% 0, 98% 100%, 2% 100%, 0 0);
                }
            }
        }
    }
    &__box{
        display: flex;
        width: fit-content;
        padding: 20px 43px;
        border: 2px solid $red;
        background: rgba(0, 0, 0, 0.20);

        position: absolute;
        top: calc(50% - 100px);
        left: 50%;
        transform: translate(-50%, -50%);
        p{
            color: $white;
            text-shadow: 0px 0px 20px rgba(233, 233, 233, 0.77);
            font-family: Oxanium;
            font-size: 55px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media screen and (max-width: $max-sm){
                font-size: 33px;
            }
            @media screen and (min-width: $min-sm) and (max-width: $max-lg){
                font-size: 40px;
            }
        }
    }
    &__cascates{
        position: absolute;
        top: calc(50% + 70px);
        right: 0;
        transform: translateY(-50%);
        display: flex;
        animation: hideCascates .3s forwards 3.2s;
        @media screen and (max-width: $max-lg){
            top: calc(50% + 60px);
        }

        &:after{
            height:5rem;
            white-space: pre;
            text-align:end;
            color: $red;
            font-family: Oxanium;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media screen and (max-width: $max-sm){
                font-size: 8px;
            }
            content:"";
            animation: initText 2.4s ease  forwards;
            @keyframes initText {
                0% { content: "Booting up neural interface . . ." }
                7% { content: "Booting up neural interface . . . \00000a Integrating cybernetic modules . . ." }
                13% { content: "Booting up neural interface . . . \00000a Integrating cybernetic modules . . . \00000a Authenticating user bio-signature . . ." }
                20% { content: "Booting up neural interface . . . \00000a Integrating cybernetic modules . . . \00000a Authenticating user bio-signature . . . \00000a Syncing neural pathways . . ." }
                27% { content: "Booting up neural interface . . . \00000a Integrating cybernetic modules . . . \00000a Authenticating user bio-signature . . . \00000a Syncing neural pathways . . . \00000a Decoding encrypted data . . ." }
                33% { content: "Integrating cybernetic modules . . . \00000a Authenticating user bio-signature . . . \00000a Syncing neural pathways . . . \00000a Decoding encrypted data . . . \00000a Initializing holo-display . . ." }
                40% { content: "Authenticating user bio-signature . . . \00000a Syncing neural pathways . . . \00000a Decoding encrypted data . . . \00000a Initializing holo-display . . . \00000a Establishing secure comm-link . . ." }
                47% { content: "Syncing neural pathways . . . \00000a Decoding encrypted data . . . \00000a Initializing holo-display . . . \00000a Establishing secure comm-link . . . \00000a Scanning for network threats . . ." }
                53% { content: "Decoding encrypted data . . . \00000a Initializing holo-display . . . \00000a Establishing secure comm-link . . . \00000a Scanning for network threats . . . \00000a Configuring cyberware settings . . ." }
                60% { content: "Initializing holo-display . . . \00000a Establishing secure comm-link . . . \00000a Scanning for network threats . . . \00000a Configuring cyberware settings . . . \00000a Powering up neural enhancements . . ." }
                67% { content: "Establishing secure comm-link . . . \00000a Scanning for network threats . . . \00000a Configuring cyberware settings . . . \00000a Powering up neural enhancements . . . \00000a Loading virtual environment . . ." }
                73% { content: "Scanning for network threats . . . \00000a Configuring cyberware settings . . . \00000a Powering up neural enhancements . . . \00000a Loading virtual environment . . . \00000a Running system diagnostics . . ." }
                80% { content: "Configuring cyberware settings . . . \00000a Powering up neural enhancements . . . \00000a Loading virtual environment . . . \00000a Running system diagnostics . . . \00000a Synchronizing data streams . . ." }
                87% { content: "Powering up neural enhancements . . . \00000a Loading virtual environment . . . \00000a Running system diagnostics . . . \00000a Synchronizing data streams . . . \00000a Finalizing protocols . . ." }
                93% { content: "Loading virtual environment . . . \00000a Running system diagnostics . . . \00000a Synchronizing data streams . . . \00000a Finalizing protocols . . . \00000a Establishing neural uplink . . ." }
                100% { content: "Running system diagnostics . . . \00000a Synchronizing data streams . . . \00000a Finalizing protocols . . . \00000a Establishing neural uplink . . . \00000a Launching interface . . ." }
            }
            
        }
    }
    &__warning{
        position: absolute;
        top: calc(50% + 40px);
        left: 0;
        transform: translateY(-50%);
        display: flex;
        animation: hideCascates .3s forwards 3.2s;

        color: $red;
        font-family: Oxanium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (max-width: $max-lg){
            top: calc(50% + 20px);
            font-size: 8px;
        }
    }
    @keyframes hideCascates{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    &--anim{
        .loadingBar__percent{
            opacity: 0;
            animation: blink .5s ease-in-out 2;
            @keyframes blink {
                0%, 100% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
            }
        }
        .loadingBar__box{
            opacity: 0;
            animation: blink .5s ease-in-out 2;
            @keyframes blink {
                0%, 100% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
            }
        }
        .loadingBar__load{
            animation: hideLoad 1.7s forwards;
            @keyframes hideLoad{
                0%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
        .loadingBar__line--1{
            animation: goTop 1.5s 1s forwards;
            @keyframes goTop{
                0%{
                    top: calc(50% - 8px);
                    transform:  translateX(-50%) translateY(-50%);
                }
                100%{
                    top: 80px;
                    transform:  translateX(-50%);
                }
            }
        }
        .loadingBar__line--2{
            animation: goDown 1.5s 1s forwards;
            @keyframes goDown{
                0%{
                    bottom: calc(50% - 7px);
                    transform:  translateX(-50%) translateY(-50%);
                }
                100%{
                    bottom: 80px;
                    transform:  translateX(-50%);
                }
            }
        }
    }

}
